<script>


</script>

<h1>Scheduling</h1>



<input type="hidden" name="test" id = "test" value="<%= @test %>">

<div class="row">
  <div class="container">

    <div class="col-md-2" id = "google_map"><%= render 'googlemap' %></div>
    <div class="col-md-6" id = "calendar_div"><%= render 'calendar' %></div>
    <div class="col-md-2" id = "proposed_events">OTHER EVENTS HAHAHAHA</div>


  </div>
</div>




<div class="row">
  <div class="container">

    <div class="col-md-2"></div>
    <div class="col-md-6"><%= render :partial => 'events/form' %></div>
    <div class="col-md-2"></div>
    



  </div>
</div>



