
<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        	<%= image_tag "home.jpeg" %>
        		<!-- <img src="/images/home.jpeg" alt="" class="img-responsive">  -->
           <div class="carousel-caption">Don't let the pain of organizing your vacation ruin your day
           </div>
        </div>
    </div>
</div>
