/*body {
  overflow-y:hidden;
}*/

body{
  padding-top: 50px;
}

 /*Navbar*/
 .navbar-brand
{
    margin: auto;
    position: absolute;
    padding-left: 35%;
    text-align: center;
}

.navbar-lower li a:hover{
    background: #000;
    background-color:#000; 
}

.navbar-lower li.active a {
    background-color:#000; 
}

.navbar-lower li.active {
    background-color:#000; 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#000; 
}

.navbar-lower li {
    font-weight: light;
    text-align: center;
    color:#fff;
    background-color:#2C353A; 
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    margin-top: 20px;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    margin-top: 20px;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-top: 20px;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-top: 20px;
 }

 .carousel-caption{
    font-size: 25px;
    font-style: italic;
 }

/*Schedule*/


.banner {
    background: #2C353A;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: -32px;
}

/* Your next upcoming: */
/*#banner-top{
font-family: FiraSans-MediumItalic;
font-size: 18px;
color: #FFFFFF;
line-height: 15px;
margin-top: 10px;
}*/

/* Fall Getaway: */
#banner-mid{
font-family: FiraSans-Medium;
font-size: 36px;
color: #FFFFFF;
line-height: 30px;
margin-top: 10px;
}

#banner-bottom, #banner-date{
/* Boston, MA: */
font-family: FiraSans-Light;
font-size: 22px;
color: #FFFFFF;
line-height: 22px;
}


/*Everything under nav and banner*/
.body{
    margin-top: -40px;
}

.calendar{
    padding-top: 40px;
}

#proposed_events{
    position:absolute; top:32.5%; bottom:-100%; right:10.4%;
    width:19%;
    background-color:#EDF1F2; 
}

/* Other Proposed Event: */
#title{
font-family: FiraSans-Light;
font-size: 16px;
color: #4D4D50;
line-height: 19px;
padding-top: 80px;
}

/* Alternative 1: */
#e-name{
font-family: HelveticaNeue-CondensedBold;
font-size: 15.57px;
color: #38A6A6;
line-height: 20px;
margin-bottom:2px;
}

/* 20: */
#e-cost, #e-time, #e-location{
font-family: AvenirNextCondensed-Regular;
font-size: 12px;
color: #4D4D50;
line-height: 20px;
vertical-align: bottom;
}

#google_map{
    padding-left: 0px;
}




