 /*Navbar*/
 .navbar-brand
{
    margin: auto;
    position: absolute;
    padding-left: 31%;
    text-align: center;
}

.navbar-lower li a:hover{
    background: #000;
    background-color:#000; 
}

.navbar-lower li.active a {
    background-color:#000; 
}

.navbar-lower li.active {
    background-color:#000; 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#000; 
}

.navbar-lower li {
    font-weight: bold;
    text-align: center;
    color:#fff;
    background-color:#2C353A; 
}

body{
  padding-top: 50px;
}

.body{
    margin-top: -40px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    margin-top: 20px;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    margin-top: 20px;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-top: 20px;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-top: 20px;
 }

 .carousel-caption{
    font-size: 25px;
    font-style: italic;
 }

/*Schedule*/


.banner {
    background: #2C353A;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: -32px;
}

/* Your next upcoming: */
#banner-top{
font-family: FiraSans-MediumItalic;
font-size: 20px;
color: #FFFFFF;
line-height: 29px;
}

/* Fall Getaway: */
#banner-mid{
font-family: FiraSans-Medium;
font-size: 36px;
color: #FFFFFF;
line-height: 30px;
}

#banner-bottom{
/* Boston, MA: */
font-family: FiraSans-Book;
font-size: 24px;
color: #FFFFFF;
line-height: 30px;
}

#banner-date{
/* Fri, Oct 23 2015 - S: */
font-family: FiraSans-Book;
font-size: 24px;
color: #FFFFFF;
line-height: 30px;
}

.calendar{
    padding-top: 40px;
}