<p id="banner-mid">Fall Getaway<%#=@schedule.name%></p> <!-- TODO: added name to schedule model -->

<div class="row">
	<div class="col-md-3">
		<p id="banner-bottom">Boston, MA</p><!-- TODO: added location to schedule model -->
	</div>
	<div class="col-md-5">
		<span><p id="banner-date">Fri, Oct 23 2015 - Sun, Oct 25 2015</p></span><!-- TODO: added start_date, end_date to schedule model -->
	</div>
</div>


