<% if user_signed_in? && !current_user.groups.empty?%>
	<div class="row">
		&nbsp;
		<p id="banner-mid"><%= Schedule.all.empty? ? "" : Schedule.last.name%></p> <!-- TODO: added name to schedule model -->
		<div class="row">
			<div class="col-md-3">
				<p id="banner-bottom"><%=  Schedule.all.empty? ? "" : Schedule.last.location %></p><!-- TODO: added location to schedule model -->
			</div>
			<div class="col-md-5">
				<span><p id="banner-date"><%= Schedule.all.empty? ? "" : "#{Schedule.last.start_date.strftime('%d, %b ')} - #{Schedule.last.end_date.strftime('%d, %b %Y')}" %></p></span><!-- TODO: added start_date, end_date to schedule model -->
			&nbsp;
			</div>

		</div>
	</div>
<%end%>


